@import "tailwindcss";

/* Define custom theme colors using CSS variables */
:root {
  --custom-bg: #09090b; /* Dark background color */
  --custom-bg-secondary: #27272a; /* Dark background color */
  --custom-border: #27272a; /* Border color */
  --custom-light: #e2e2e2; /* Light text color */
  --custom-hover: #27272a; /* Hover color */
  --custom-secondary-color: #a1a1aa; /* Hover color */
}

/* Extend Tailwind with custom styles */
@layer base {
  body {
    font-family: "Geist", sans-serif;
    background-color: var(--custom-bg);
    color: var(--custom-light);
    accent-color: var(--custom-light);
  }
}

@layer components {
  .header {
    background-color: var(--custom-bg);
  }
  .lable-color {
    color: var(--custom-light);
  }

  .border-color {
    border: 1px solid var(--custom-border);
  }

  .border-b-color {
    border-bottom: 1px solid var(--custom-border);
  }
  .border-t-color {
    border-top: 1px solid var(--custom-border);
  }

  .border-focus-color {
    border: 1px solid var(--custom-light);
  }

  .font-secondary-color {
    color: var(--custom-secondary-color);
  }
  .footer {
    background-color: var(--custom-border);
  }
  .btn {
    background-color: var(--custom-light);
    border: 1px solid var(--custom-border);
    color: var(--custom-bg);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    width: 100%;
  }
  .btn:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

/* loader css start */
.loader {
  --ANIMATION-DELAY-MULTIPLIER: 70ms;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.loader span {
  padding: 0;
  margin: 0;
  letter-spacing: -5rem;
  animation-delay: 0s;
  transform: translateY(4rem);
  animation: hideAndSeek 1s alternate infinite cubic-bezier(0.86, 0, 0.07, 1);
}
.loader .l {
  color: var(--custom-light);
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 0);
}
.loader .o {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 1);
}
.loader .a {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 2);
}
.loader .d {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 3);
}
.loader .ispan {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 4);
}
.loader .n {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 5);
}
.loader .g {
  animation-delay: calc(var(--ANIMATION-DELAY-MULTIPLIER) * 6);
}
.letter {
  width: fit-content;
  height: 3rem;
  color: var(--custom-light);

}
.i {
  margin-inline: 5px;
}
@keyframes hideAndSeek {
  0% {
    transform: translateY(4rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

/* loader css end */
